

<div class="dashboard">
    <div class="">
        <div class="row">
            <div class="col s4 inline">
                <div class="card-panel">
                    <div id="progress">
                        <h4>Progress</h4>
                    </div>
                    <hr>
                    <div id="progressCircle">

                    </div>
                </div>
            </div>
            <div class="col s4 inline">
                <div class="card-panel">
                    <div id="level">
                        <h4>Level</h4>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col s4 inline">
                <div class="card-panel">
                    <div id="level">
                        <h4>Time</h4>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="main.js"></script>

<script>
    var currentWords = 360;
    var bar = new ProgressBar.Circle(progressCircle, {
    color: '#aaa',
    // This has to be the same size as the maximum width to
    // prevent clipping
    strokeWidth: 4,
    trailWidth: 1,
    easing: 'easeInOut',
    duration: 1400,
    text: {
        autoStyleContainer: false
    },
    from: { color: '#aaa', width: 1 },
    to: { color: '#333', width: 4 },
    // Set default step function for all animate calls
    step: function(state, circle) {
        circle.path.setAttribute('stroke', state.color);
        circle.path.setAttribute('stroke-width', state.width);
        var value = Math.round(circle.value() * currentWords);
        if (value === 0) {
            circle.setText('');
        } else {
            circle.setText(value);
        }

    }
});
bar.text.style.fontSize = '2rem';

bar.animate(1.0);  // Number from 0.0 to 1.0
</script>