
<div class="dashboard">
    <div class="container">
        <div class="row" style="margin-left: 10px;">
            <h3>{{{user.name}}} Johbn</h3>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div id="progress">
                        <h4>Progress</h4>
                    </div>
                    <hr>
                    <h5>Level - {{{user.name}}}3/6</h5>
                    <h5 style="display: inline">Words Completed - {{{user.words}}} 140/360</h5>
                    <div id="wordsCompleted" style="display: inline;" class="progress-circle"></div>
                    <hr style="line-height: 1.5;">
                    <div id="Learning Sessions">
                        <h4>Learning Sessions</h4>
                    </div>
                    <hr style="line-height: 1.5;">
                    <div>
                        <h4>Learning time</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>