
<div class="landing">
    <div class="container">
 <div class="row">
    <div id="sign-in-card" class="col s4">
        <div class="card white black-text z-depth-3">
            <div class="card-content">
                <form action="/login" method="post">
                    <h3 style="margin-bottom: 15px;">Log In</h3>
                    <input class="white-input" type="text" name="username" placeholder="Username">
                    <input class="white-input" type="password" name="password" placeholder="Password">
                    <p class="red-text">{{{error}}}</p>
                    <button type="submit" class="waves-effect waves-light btn-flat theme-button"
                       style="margin-top: 10px; margin-bottom: 5px;">Log in</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col s8 center mobile-hide" style="margin-top: 70px;">
        <h2>Sign in to access our premier vocabulary tools, and guides!</h2>
    </div>
</div> <!-- todo: format dis brahdahmanbean -->
    </div>
</div>