<div class="landing">
    <div class="container">
        <div class="row">
            <div id="sign-in-card" class="col s4">
                <div class="card">
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab"><a class="active black-text" href="#student">Student</a></li>
                            <li class="tab"><a class="black-text" href="#teacher">Teacher</a></li>
                        </ul>
                    </div>
                    <div class="card-content black-text">
                        <form action="/register" method="post">
                            <div id="student">
                                <h4 style="margin-bottom: 15px; margin-top: 10px;">Student Registration</h4>
                                <input type="text" placeholder="Username" required>
                                <input type="email" placeholder="Email" required>
                                <input type="password" placeholder="Password" required>
                                <input type="password" placeholder="Verify Password" required>
                                <input type="text" placeholder="School code" required>
                                <p class="red-text">{{{error}}}</p>
                                <button type="submit" class="waves-effect waves-light btn-flat theme-button"
                                        style="margin-top: 10px; margin-bottom: 5px;">Register</button>
                            </div>
                        </form>
                        <form action="/register" method="post">
                            <div id="teacher">
                                <h4 style="margin-bottom: 15px;  margin-top: 10px;">Teacher Registration</h4>
                                <input type="text" placeholder="Username" required>
                                <input type="email" placeholder="Email" required>
                                <input type="password" placeholder="Password" required>
                                <input type="password" placeholder="Verify Password" required>
                                <input type="text" placeholder="School">
                                <p class="red-text">{{{error}}}</p>
                                <button type="submit" class="waves-effect waves-light btn-flat theme-button"
                                        style="margin-top: 10px; margin-bottom: 5px;">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col s8 center mobile-hide" style="margin-top: 165px;">
                <h2>Register to access our premier vocabulary tools and guides!</h2>
            </div>
        </div>
    </div>
</div>